body {
    background-color: #00585F;
}
table {
    width: 70%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #009393;
    color: #FFFCC4;
}
table th {
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.25em;
    font-weight: 300;
    font-size: 1.5em;
}

table td {
    width: 50%;
    font-family: 'Trirong', serif;
    font-weight: 400;
    line-height: 1.7em;
}
